<h1>Rails + Stimulus + Webpack + Bootstrap 4 starter pack</h1>
<p>Find me in app/views/pages/example.html.erb</p>
<div data-controller="hello">

    <h2>Stimulus</h2>
    <p>
	Stimulus controllers located here <b>app/javascript/controllers/</b>
    </p>
    <div data-target="hello.output"></div>
    <br>


    <h2>Bootstrap 4.1 Integration</h2>
    <button data-action="hello#action" class="btn btn-primary hello-button">
	Hello
    </button>

    <p>
	This button styles changed with <a href="https://getbootstrap.com/docs/4.1/getting-started/theming/"> bootstrap 4.1 theming convetion through sass variables</a>, see <b>assets/_variables.scss</b>	
    </p>
    
</div>
